@charset "utf-8";
#topcontrol {position: fixed; bottom: 5px; right: 5px; opacity: 0.5; cursor: pointer;}
.block1 { width:auto; height:auto; background-color:rgb(255,255,255); margin-left:-8px}
.colour { color: rgb(0,58,81); width:200px; text-align:center}
.colourF { color: rgb(0,58,81); width:400px; text-align:center}
.main{ width:1920px; height:600px}
A { color: rgb(0,58,81);
    text-decoration: none 
   } 
.search {
   width: 310px; 
   min-height: 35px;
   margin-left:1600px;
   position:absolute;
   padding-top:10px 
   }
 p {
    font-size: 120%;
   }
 big {
    font-size: 150%;
	color:#FFF
   } 
.knopa {
	background: #ffbd12;
	width:400px;
	height: 180px;
	padding: 0px 0 10px 0px;
	margin-left: 165px;
	text-align: center;
	display: inline-block;
	float: left;
	font-family: "Century Gothic";
}
.vse {
position: absolute;
	margin-left:-8px;
	margin-top:1011px;
	background-color:#ffbd12;
	width: 1920px;
	height:200px
}
.pole {
position: absolute;
	margin-left:0px;
	margin-top:200px;
	background-color:#ffffff;
	width: 1920px;
	height:200px
}
.slova {
	background: #ffffff;
	width:500px;
	height: 650px;
	padding: 10px 10px 10px 10px;
	margin-left: 200px;
	margin-top: 0px;
	display: inline-block;
	float: left;
	font-family: "Century Gothic";
}
.fot {
	background: #ffffff;
	width:650px;
	height: 650px;
	padding: 10px 0 10px 10px;
	margin-left: 1000px;
	margin-top: -665px;
	display: inline-block;
	float: left;
}
 .scroll {
 position: relative;
 height: 20em;
 padding: 0 4em;
 line-height: 20em;
}
.scroll input {
 display: none;
}
.scroll div {
 height: 100%;
 overflow: hidden;
 white-space: nowrap;
 word-wrap: normal;
 font-size: 0;
}

.scroll img {
 position: relative;
 right: 0em;
 width: 522px;
 height: 80%;
 transition: .5s;
  margin-left: 35px;
 margin-right: 35px;
 display:inline-block;
 vertical-align:middle
}
.scroll img:hover {
box-shadow: 0px 0px 58px 1px #ffbd12;	
transform:scale(1.05,1.05); z-index:10; cursor: zoom-in;
}
.scroll label {
 cursor: pointer;
 font-weight: 600;
 font-size: 6em;
 }
.scroll input:nth-of-type(1):checked ~ label:nth-of-type(2):after,
.scroll input:nth-of-type(2):checked ~ label:nth-of-type(3):after {
 content: "\3009";
 position: absolute;
 opacity: 0.5;
 right: -0.3em;
}
.scroll input:nth-of-type(2):checked ~ label:nth-of-type(1):after,
.scroll input:nth-of-type(3):checked ~ label:nth-of-type(2):after {
 content: "\3008";
 position: absolute;
 opacity: 0.5;
 left: -0.3em;
}

.scroll input:nth-of-type(2):checked ~ div img {right: 100%;}
.scroll input:nth-of-type(3):checked ~ div img {right: 200%;}
.w-btn {color: #03465C; box-shadow: 0 0 0 2px #03465C inset; position:relative; top:15px; text-decoration:none;
padding: 10px 30px; border-radius: 5px; transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;
font-weight: bold; text-transform: uppercase; font-family: "Open Sans", sans-serif;}
.w-btn:hover {color:#fff}
.w-btn::before {background-color: #03465C; border-radius: 5px; content: ''; height:0; position:absolute; transition: height 0.3s; top: 0;
left: 0; right: 0; color:#fff; z-index:-1; overflow:hidden}
.w-btn:hover::before {height:100%; color:#fff}
#gallery {position: relative; top: 1200px}
.close-btn {
	width: 31px;
	height: 31px;
	display: block;
	cursor: pointer;
	background: url(footer/close.png);
	margin-right: 400px;

}
.close-btn:hover{
	background: url(footer/close-hover.png);}